

body {
    font-family: Montserrat, sans-serif;
  }
  .navbar-brand {
    background-image: url("https://image.pngaaa.com/657/1310657-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
  }
  
  .navbar-nav .nav-item:hover {
    background-color:muted;
  }
  
 
